"use strict";

var facebookcredentials = {
    FACEBOOK_APP_ID: "--insert-facebook-app-id-here--"
    FACEBOOK_APP_SECRET: "--insert-facebook-app-secret-here--";
};

module.exports = facebookcredentials;