const FACEBOOK_APP_ID = "keygoeshere";
const FACEBOOK_APP_SECRET = "secret goes here";

var facebookcredentials = {
    FACEBOOK_APP_ID: FACEBOOK_APP_ID,
    FACEBOOK_APP_SECRET: FACEBOOK_APP_SECRET
};

module.exports = facebookcredentials;